#wp-admin-bar-update-images {
  a {
    transition: all .2s ease-in-out;
  }
  img {
    max-width: 70px;
  }
}

.img-updated {
  background: green !important;
  color: white !important;
}

.img-not-updated {
  background: red !important;
  color: white !important;
}