.user-nav a {
	color: white !important;
	-webkit-font-smoothing: antialiased;
}

.um-cover,
.um-profile-photo {
	display: none;
}

.um-profile-meta {
	padding-left: 0 !important;
}

.wpb-coll {
	background: #eee !important;
	border-radius: 0 !important;

	.wpb-coll-list,
	.wpb-coll-body {
		background: #eee !important;
	}

	.wpb-coll-list a {
		border-bottom: 1px solid white !important;
		transition: background .2s ease-in;

		&.active {
			background: #e1e1e1 !important;
		}
	}

	.wpb-coll-body {
		border-left: 1px solid white !important;
	}
}

.um-profile-body.main.main-default {
	border-left: 0 !important;
	border-right: 0 !important;
}