.main {
  border-right: none !important;
  border-left: none !important;
}

/*******************************/
/********** Info Boxes *********/
/*******************************/

.info-box {
  width: 350px;
  float: left;
  margin-right: 29px;
  &.ibox-1 {
    margin-left: 29px;
  }
  img {
    width: 50%;
    left: 25%;
    position: relative;
    margin-top: 40px;
  }
  h4 {
    text-align: center;
  }
  .wpcf-field-value {
    text-align: justify;
  }
}

div {
  &[class*=' info-box-'],
  &[class^=info-box-] {
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .info-box {
    width: 899.3px;
    margin-left: 19.3px !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .info-box {
    width: 624px;
    margin-left: 49px !important;
  }
}

/*******************************/
/********* Search Form *********/
/*******************************/

.property-searchform {
  background: url(/bluecoast.international/wp-content/uploads/2014/03/property_listing_demo.jpg);
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
  min-height: 500px;
  position: relative;

  .property-search-box {
    max-width: 80em;
    width: 100%;
    margin: 0 auto 30px;
    position: relative;
    top: 18em;

    form {
      width: 100%;
      margin: 0 auto;

      .search-form-top {

        * {
          float: left;
        }
        h3 {
          color: white;
          font-size: 60px;
          margin-top: 13px;
          margin-right: 40px;
        }
        input[type='search'] {
          padding: 12px 20px;
          width: 20%;
          margin-bottom: 75px;
          margin-right: 5px;
        }

        input[type='submit'] {
          font-size: 20px;
          padding: .6em;
        }
      }

      div.price-range {
        width: 45%;
        float: left;
        text-align: left;

        &.first {
          margin-right: 10%;
        }
      }
    }
  }
}

.ui-autocomplete-loading {
  background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;

  span.hl_results {
    background-color: #ffff66;
  }

  li {
    font-size: 16px;
  }
}

* html .ui-autocomplete {
  height: 250px;
}