body {
  background-image: -ms-linear-gradient(top, white 0%, white 30%, whitesmoke 100%);
  background-image: -moz-linear-gradient(top, white 0%, white 30%, whitesmoke 100%);
  background-image: -o-linear-gradient(top, white 0%, white 30%, whitesmoke 100%);
  background-image: -webkit-linear-gradient(top, white 0%, white 30%, whitesmoke 100%);
  background-image: linear-gradient(to bottom, white 0%, white 30%, whitesmoke 100%);
}

#sb-site {
  min-height: 0 !important;
}

.container {
  width: 100% !important;
  &.contents.detail .span16 {
    margin-left: auto;
    margin-right: auto;
  }
}

.full-width {
  width: 100%;
}

.listing-layout.span10 {
  margin: 0 auto;
  float: none;
}

h1.page-title {
  margin-bottom: -0.5em !important;
}

.listing-header {
  background: white;
  padding: 23px;
}

.page-head .container {
  margin-top: 8em !important;
}

.header-wrapper {
  height: 115px;
  display: block;
  transition: height .25s ease-in-out;
  overflow: visible;
  border-bottom: 0px solid white;
}

.page-title span {
  margin-left: -0.06em !important;
}

#header-top {
  opacity: 1;
  transition: all .25s ease-in-out;
  top: 0;
}

.container.contents.detail {
  margin-top: -4.5em !important;
}

.hsContainer .content {
  background: white;
  color: #333;
  padding: 20px 40px 20px;
}

.property-items {
  background: none !important;
}

.loader {
  background: url("/wp-content/themes/realhomes-child_v2/images/ajax-loader.gif") no-repeat 50% 40%;
  display: none;
  width: 100%;
  height: 624px;
}

.btn-success {
  background-image: none !important;
  background-color: #37b3d9 !important;
}

// Search drop down styles
.ui-autocomplete span.hl_results {
  background-color: #ffff66;
}

.ui-autocomplete-loading {
  background: white url('/wp-content/themes/realhomes-child_v2/images/ajax-spinner.gif') right center no-repeat;
}

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;

  li {
    font-size: 16px;
  }
}

* html .ui-autocomplete {
  height: 250px;
}

@media (min-width: 1200px) {
  .header-wrapper .container, .page-head .container {
    width: 1170px !important;
  }
}

.widget_wysija_cont form {
  width: 37rem;
  margin: 0 auto;
  input {
    float: left;
    margin-right: 20px;
  }
  .wysija-paragraph {
    position: relative;
    .formError {
      top: -35px !important;
      left: 40px !important;
      .formErrorContent {
        border: none;
        &:before {
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 40px 40px 0 400px;
          border-color: #8e2121 transparent transparent transparent;
        }
      }
    }
    .wysija-input {
      display: inline-block;
      height: 20px;
      padding: 12px 4%;
      font-size: 14px;
      line-height: 20px;
      color: #555;
      border-radius: 4px;
      vertical-align: middle;
    }
    &:nth-child(2) .formError {
      top: -55px !important;
      left: 280px !important;
    }
  }
  .wysija-submit {
    margin-top: 0 !important;
    margin-right: 0 !important;
    border: none;
    color: white;
    background: #37b3d9;
    padding: 7px;
    font-size: 20px;
    padding: .6em;
    border-radius: 4px;
  }
}

@media (max-width: 650px) {
  .widget_wysija_cont form {
    width: 92%;
  }
}

@media (max-width: 650px) {
  .widget_wysija_cont form .wysija-paragraph .wysija-input {
    width: 91.5%;
  }
}

@media (max-width: 650px) {
  .widget_wysija_cont form .wysija-submit {
    width: 100%;
  }
}

main {
  height: 100%;
  min-height: 100%;
  background-color: #000000;
}

.no-js {
  padding-top: 106px;
}

h2, article {
  margin-top: 0;
}

#loading {
  background: url("/wp-content/uploads/realhomes-child_v2/images/ajax-loader.gif") no-repeat 50% 10%;
  #overview {
    opacity: 0;
    transition: all .4s ease-in;
  }
}

#overview {
  opacity: 1;
}

section {
  min-width: 960px;
  opacity: 1;
}

.loaded section, .no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

main {
  overflow-x: hidden;
}

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 1170px;
  position: relative;
  left: 0;

  h2 {
    color: #fff8de;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  p {
    color: #b2b2b2;
  }

  a {
    color: #b2b2b2;
    text-decoration: underline;
  }
}

.homeSlide {
  height: 750px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

#slide-0 {
  margin-bottom: 0;
  text-align: center;
  height: 550px;
  position: relative;

  .bcg {
    height: 550px;
  }

  .hsContent {
    top: 38vh;
    margin: 0 auto;

    @media (max-width: 768px) {
      top: 15vh;
    }

    @media (max-width: 360px) {
      top: 25vh;
    }

    .property-search-box {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto 30px;
      position: relative;

      form {
        width: 100%;
        margin: 0 auto;

        .search-form-top {

          * {
            float: left;
          }

          h3 {
            color: white;
            font-size: 45px;
            margin-top: 13px;
            margin-right: 40px;
          }

          span[role="status"] {
            display: none !important;
          }

          input {

            &[type='search'] {
              padding: 12px 20px;
              width: 230px;
              margin-bottom: 75px;
              margin-right: 20px;
              margin-top: 0;

              &.sa_searching {
                background: url(/wp-content/plugins/search-autocomplete/img/loading.gif) white no-repeat 95% center;
              }
            }

            &[type='submit'] {
              font-size: 20px;
              padding: .6em;
            }
          }
        }

        div.price-range {
          width: 45%;
          float: left;
          text-align: left;

          &.first {
            margin-right: 10%;
          }
        }
      }
    }
  }
}

// Search results list on homepage
.ui-autocomplete li:hover > a {
  background: #eaeaea;
  color: #df5400;
}

@media (max-width: 1200px) {
  #slide-0 .hsContent .property-search-box {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  #slide-0 .hsContent .property-search-box {
    margin-top: -9em;
  }
}

@media (max-width: 787px) {
  #slide-0 .hsContent .property-search-box form .search-form-top h3 {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 787px) {
  #slide-0 .hsContent .property-search-box form .search-form-top input[type='search'] {
    width: 400px;
  }
}

@media (max-width: 650px) {
  #slide-0 .hsContent .property-search-box form .search-form-top input[type='search'] {
    width: 90%;
  }
}

@media (max-width: 767px) {
  #slide-0 .hsContent .property-search-box form .search-form-top input[type='search'] {
    width: 50vw;
  }
}

@media (max-width: 532px) {
  #slide-0 .hsContent .property-search-box form .search-form-top input[type='search'] {
    width: 90%;
    padding: 10px 5%;
    margin-bottom: 1em;
  }
}

@media (max-width: 532px) {
  #slide-0 .hsContent .property-search-box form .search-form-top input[type='submit'] {
    width: 100%;
    margin-bottom: 4em;
  }
}

#slide-1 {
  height: 200px !important;
  .hsContent {
    margin: 0 auto;
    text-align: center;
    h3 {
      color: #afb4b5;
      margin-top: 50px;
    }
  }
}

@media (max-width: 767px) {
  #slide-1 .hsContent {
    padding-top: 2em;
  }
}

#slide-2 {
  .hsContent {
    margin: 0 auto;
    top: auto;
    max-width: 100%;
    .flexslider .slides > li {
      -webkit-backface-visibility: visible;
    }
  }
  article {
    position: fixed;
    top: 20%;
    width: 700px;
  }
  img {
    opacity: 0;
  }
}

#slide-3 {
  height: auto !important;
  background: whitesmoke;

  .hsContent {
    margin: 0 auto;

    @media (max-width: 979px) {

      .row {
        margin-left: 0;
      }
    }

    .span12 {

      @media (max-width: 1199px) {
        margin: 0 auto;
        float: none;
      }

      .info-boxes {
        @media (max-width: 979px) {
          width: 100%;
        }

        .info-box {
          width: 350px;
          float: left;
          margin-right: 29px;
          margin-bottom: 3em;

          @media (max-width: 979px) {
            width: 100%;
          }

          &.ibox-1 {
            margin-left: 29px;
          }

          img {
            position: relative;
            margin-top: 40px;
          }

          div {

            &[class*=' info-box-'], &[class^=info-box-] {
              padding: 20px;
              background: #fff;
              border: 1px solid #dedede;
              height: 100vh;
              max-height: 280px;

              @media (max-width: 979px) {
                height: auto;
                max-height: 100%;
              }
            }
          }

          h4 {
            text-align: center;
          }

          .wpcf-field-value {
            text-align: justify;
          }
        }
      }
    }
  }

  h2 {
    color: #f2ead6;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 1199px) {
  #slide-3 .hsContent .info-boxes {
    width: 99%;
    margin: 0 auto;
  }
}

@media (max-width: 979px) {
  #slide-3 .hsContent .info-boxes {
    width: 67%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #slide-3 .hsContent .info-boxes {
    width: 79%;
  }
}

@media (max-width: 1199px) {
  #slide-3 .hsContent .info-boxes .info-box {
    width: 28vw;
  }
}

@media (max-width: 979px) {
  #slide-3 .hsContent .info-boxes .info-box {
    width: 624px;
    margin: 20px auto !important;
  }
}

@media (max-width: 767px) {
  #slide-3 .hsContent .info-boxes .info-box {
    width: 100%;
  }
}

@media (max-width: 979px) {
  #slide-3 .hsContent .info-boxes .info-box img {
    position: relative;
    margin: 20px 20px 20px auto;
    float: left;
  }
}

@media (max-width: 499px) {
  #slide-3 .hsContent .info-boxes .info-box img {
    margin: 20px auto;
  }
}

@media (max-width: 1199px) {
  #slide-3 .hsContent .info-boxes .info-box div {
    &[class*=' info-box-'], &[class^=info-box-] {
      height: auto;
    }
  }
}

@media (max-width: 767px) {
  #slide-3 .hsContent .info-boxes .info-box h4 {
    font-size: 16px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  #slide-3 .hsContent .info-boxes .info-box .wpcf-field-value {
    font-size: 11px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  #slide-3 .hsContent .info-box {
    margin-left: 19.3px !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #slide-3 .hsContent .info-box {
    width: 624px;
    margin-left: 49px !important;
  }
}

#slide-4 {
  background: white;
  margin-top: 0;
  height: auto !important;

  .hsContent {
    margin: 0 auto;
    position: relative;
    background: white;
  }

  .narrative {
    padding: 5px 72px;
  }

  h2 {
    background: none;
    padding-left: 0;
    padding-right: 0;
    color: #b7bcbd;
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  #slide-4 .hsContent .row {
    margin-left: 0;
    .span12 {
      margin: 0 auto;
      float: none;
    }
  }
}

@media (max-width: 976px) {
  .property-items {
    min-width: 100%;

    .span6 {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
}

@media (max-width: 1199px) and (max-width: 767px) {
  #slide-4 .hsContent .row .span12 .property-items {
    min-width: 100%;
  }
}

.main {
  border-right: none !important;
  border-left: none !important;
}

footer {
  section {
    min-width: inherit;
    .textwidget {
      margin-top: 2em;
    }
  }
  #footer-bottom {
    width: 1170px !important;
    margin: 0 auto;
  }
}

@media (max-width: 979px) {
  footer #footer-bottom {
    width: 100% !important;
  }
}

.mymail-form {
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  display: block;
  .mymail-wrapper {
    width: 45%;
    float: left;
    &.mymail-submit-wrapper {
      width: 8%;
    }
    input {
      &[type="text"] {
        width: 80%;
        display: inline-block;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 4px;
        vertical-align: middle;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border linear .2s,box-shadow linear .2s;
        padding: 20px;
        margin-bottom: 75px;
        margin-right: 20px;
        color: #ccc;
      }
      &[type="submit"] {
        padding: 10px 15px;
        float: left;
        margin-top: -.05em;
      }
    }
  }
  .input, .mymail-form-info {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  label {
    line-height: 1.6em;
  }
  li {
    list-style: none !important;
    margin-left: 0;
  }
  label .required {
    color: #f33;
  }
  input.required {
    color: inherit;
  }
  .mymail-lists-wrapper ul {
    list-style: none;
    margin-left: 0;
    li {
      margin-left: 0;
    }
  }
  .mymail-list-description {
    color: inherit;
    display: block;
    margin-left: 25px;
    font-size: 0.8em;
  }
  .mymail-form-info {
    display: none;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 4px;
  }
  .error input {
    border: 1px solid;
    border-color: #df6f8b #da5f75 #d55061;
  }
  .mymail-form-info {
    &.error {
      border: 1px solid #E9B9BB;
      background: #FFDCDD;
    }
    ul li {
      color: inherit;
      margin-left: 0;
    }
    &.success {
      border: 1px solid #BADEB1;
      background-color: #E1FFD9;
    }
    p {
      margin-bottom: 0;
    }
    ul {
      list-style-type: circle;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  .submit-button {
    margin: 6px 0 0;
    &:active {
      margin: 7px 1px 1px;
    }
  }
  .mymail-loader {
    display: none;
    width: 16px;
    height: 16px;
    margin: 4px;
    vertical-align: middle;
    background-image: url("/wp-content/plugins/myMail/assets/img/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
    &.loading {
      display: inline-block;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mymail-form .mymail-loader {
    background-image: url("/wp-content/plugins/myMail/assets/img/loading_2x.gif");
    background-size: 100%;
  }
}