body {
  .main-menu li.menu-item {
    ul.sub-menu {
      display: none;
    }
    &:hover ul.sub-menu {
      display: block;
    }
  }
  #pheader {
    .contact-number, .contact-email {
      display: none !important;
    }
  }
  #slide-0 .page-head .container {
    margin-top: -2em !important;
  }
}