@font-face {
  font-family: "fontcustom";
  src: url("/wp-content/themes/realhomes-child/font/fontcustom_10ce8d03c0c08cd4df9fe2583f433806.eot");
  src: url("/wp-content/themes/realhomes-child/font/fontcustom_10ce8d03c0c08cd4df9fe2583f433806.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/realhomes-child/font/fontcustom_10ce8d03c0c08cd4df9fe2583f433806.woff") format("woff"), url("/wp-content/themes/realhomes-child/font/fontcustom_10ce8d03c0c08cd4df9fe2583f433806.ttf") format("truetype"), url("/wp-content/themes/realhomes-child/font/fontcustom_10ce8d03c0c08cd4df9fe2583f433806.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "fontcustom";
    src: url("/wp-content/themes/realhomes-child/font/fontcustom_10ce8d03c0c08cd4df9fe2583f433806.svg#fontcustom") format("svg");
  }
}

::selection {
  background: #20b4ab;
}

.clear {
  clear: both;
}

.price {
  color: white !important;
}

.widget .price {
  color: #4dc7ec !important;
}

.inner-wrapper .hentry {
  overflow: visible !important;
}

#menu-main-nav {
  float: right;
}

// Max height for search form drop downs
.selectbox-wrapper ul {
  max-height: 231px;
  overflow-y: scroll;
}

.blue-headings {
  height: 17px;
  width: 103.3%;
  background-color: rgba(55, 179, 217, 0.7);
  color: #FFF;
  padding: 8px 12px 10px 32px;
  margin-bottom: 10px;
  margin-top: 15px;
  position: relative;
  left: -4.3%;
  &::before, &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
  }
  &::before {
    border-width: 0 0 10px 15px;
    left: 0;
    border-color: transparent transparent rgba(55, 160, 217, 0.9);
  }
  &::after {
    border-width: 10px 0 0 15px;
    right: 0;
    border-color: transparent transparent transparent rgba(55, 160, 217, 0.9);
  }
  p {
    line-height: inherit !important;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 1199px) {
  .blue-headings {
    width: 104.2%;
    left: -5.3%;
  }
}

@media (max-width: 767px) {
  .blue-headings {
    width: 106.2%;
    left: -7.8%;
  }
}

@media (max-width: 499px) {
  .blue-headings {
    width: 107%;
    left: -8.8%;
  }
}

@media (max-width: 439px) {
  .blue-headings {
    width: 111.6%;
    left: -14.8%;
  }
}

[data-icon]:before {
  content: attr(data-icon);
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bathrooms:before, .icon-bedrooms:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bathrooms:before {
  content: "\f101";
}

.icon-bedrooms:before {
  content: "\f100";
}

.hsContainer [class^="icon-"], [class*=" icon-"] {
  width: 35px;
  height: 35px;
}

.info-boxes {
  margin-left: 0;
}

@media (min-width: 1200px) {
  .info-boxes .span4 {
    width: 330px;
  }
}

#header-top {
  float: right;
  border-bottom: none;
}

.header-wrapper {
  background-color: #184268 !important;
  margin-bottom: 55px;
  .container {
    height: 115px;
    display: block;
  }
  &.shrink .container {
    height: 0px;
  }
  #header {
    #logo {
      max-width: none !important;
      left: -31.5em;
      position: relative;
    }
    #header-top {
      position: relative;
      z-index: 22;
      .contact-number {
        float: left !important;
        right: 5em;
        background-color: transparent !important;
        margin-top: 24px !important;
        cursor: pointer;
        position: absolute;
        line-height: 25px !important;
        .fa-phone {
          font-size: 40px !important;
          margin-right: 0 !important;
          right: 0;
        }
        .number {
          display: none;
          position: absolute;
          right: 5.8em;
          padding: .55em .7em .3em;
          background-color: grey;
          height: 55px;
          font-size: 50%;
          text-align: center;
          .click-to-call {
            min-width: 8em;
            font-size: 21px;
          }
        }
      }
      #contact-email {
        float: left !important;
        right: 1em;
        background-color: transparent !important;
        margin-top: 24px !important;
        cursor: pointer;
        position: absolute;
        line-height: 25px !important;
        padding: 0;
        .fa-envelope {
          font-size: 40px !important;
          margin-right: 0 !important;
          right: 0;
          padding: 12px 15px 12px 15px;
          position: relative;
          color: white !important;
          background: #37b3d9;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header-wrapper {
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .header-wrapper {
    margin-bottom: 55px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .header-wrapper #header #logo {
    left: -30em;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .header-wrapper #header #logo {
    left: -63%;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .header-wrapper #header #logo {
    left: -30em;
    position: absolute;
  }
}

@media (max-width: 440px) {
  .header-wrapper #header #logo {
    margin-bottom: 22px;
  }
}

@media (max-width: 618px) {
  .header-wrapper #header #logo {
    a, img {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}

.main-menu-holder {
  box-shadow: 0 0 0 transparent;
  transition: box-shadow .2s ease-in-out, transform .4s ease;
  position: absolute;
  z-index: 9;
  top: 115px;
  width: 100%;

  & > div {
    width: 1170px;
    position: relative;
    margin: 0 auto;

    nav {
      width: 100%;
      background: white;
      margin-top: 0;
      position: relative;

      &::before, &::after {
        content: "";
        display: block;
        height: 55px;
        width: 200px;
        position: absolute;
        top: 0;
        background-color: white;
      }

      &::before {
        left: -200px;
      }

      &::after {
        right: -200px;
      }

      .sticky-logo {
        opacity: 0;
        float: left;
        transition: opacity .05s ease-in-out;
      }

      ul {

        @media (max-width: 979px) {
          display: block;
        }

        @media (max-width: 769px) {
          display: none;
        }

        li {
          a {
            padding: 12px;
          }
          ul {
            top: 55px !important;
            display: none;
          }
        }
      }

      #menu-menu-1 {
        float: right;
        display: block;
      }

      #mobile-button {
        display: none;
        float: right;
        margin-right: 12px;
        font-size: 20px;
        margin-top: 5px;
      }
    }
  }

  &.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    background-color: white;

    nav .sticky-logo {
      opacity: 1;
      transition: opacity .2s ease-in-out;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .main-menu-holder {
    height: 44px;
    background-color: white;
  }
}

@media (max-width: 767px) {
  .main-menu-holder {
    height: 55px;
  }
}

@media (max-width: 1199px) {
  .main-menu-holder > div {
    width: 100%;
  }
}

@media (max-width: 979px) {
  .main-menu-holder > div nav {
    width: auto;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main-menu-holder > div nav {
    margin: 0;
    background-color: transparent;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .main-menu-holder > div nav {
    background-color: transparent;
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .main-menu-holder > div nav {
    &::before, &::after {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .main-menu-holder > div nav .sticky-logo img {
    max-height: 40px;
    max-width: 120px;
  }
}

@media (min-width: 1200px) {
  .main-menu-holder > div nav ul li a {
    padding: 18px 17px 17px !important;
  }
}

@media (max-width: 1199px) {
  .main-menu-holder > div nav ul li ul {
    top: 44px !important;
  }
}

@media (max-width: 767px) {
  .main-menu-holder > div nav #menu-menu-1 {
    margin: 10px;
    display: none;
  }
}

@media (max-width: 768px) {
  .main-menu-holder > div nav #mobile-button {
    display: block;
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .main-menu-holder.sticky nav .sticky-logo {
    margin-left: 20px;
  }
}

.page-head {
  min-height: 266px !important;
  .container {
    margin-top: 8.5em;
    .page-title {
      line-height: 20px;
      span {
        background-color: transparent !important;
        color: #fff;
        font-size: 100px;
        padding-left: 0 !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        position: relative;
        z-index: 0;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 499px) {
  .page-head {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .page-head .container .page-title span {
    font-size: 68px;
    line-height: 37px;
  }
}

@media (max-width: 499px) {
  .page-head .container .page-title span {
    font-size: 36px;
    line-height: 20px;
  }
}

.container.contents {
  margin-top: -9.5em;
  position: relative;
  z-index: 1;
  .inner-wrapper {
    border-top: none;
  }
}

#custom-mapping-google-map {
  min-height: 550px;
}

.slide-description .know-more {
  background-color: rgba(55, 179, 217, 0.9) !important;
}

.noUi-handle {
  &::before {
    content: attr(data-value);
    background: black;
    width: auto;
    padding: 10px 25px 15px;
    color: white;
    top: -2.7em;
    left: -2.7em;
    font-size: 18px;
  }
  &::after {
    left: 6px;
    top: -0.8em;
    background: transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
  }
}

.sb-slidebar {
  > ul > li {
    font-size: 18px;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    font-size: 16px;
    position: absolute;
    top: 0;
    li {
      padding: 10px 0;
      .sub-menu {
        margin-left: 0;
      }
    }
    ul {
      position: relative;
      text-transform: none;
    }
  }
}

@media (min-width: 1200px) {
  #footer-wrapper {
    #footer, #footer-bottom {
      width: 1170px !important;
    }
  }
}

@media (max-width: 1199px) {
  #footer-wrapper {
    #footer, #footer-bottom {
      width: 90% !important;
    }
  }
}

#footer-wrapper #footer .row {
  margin-left: 0;

  .span3 {
    width: 15%;
    margin: 0;

    &:last-child {
      text-align: right;
    }

    section {
      position: relative;
      margin-top: 80px;

      .menu {

        li {
          background: none;
        }
      }
    }
  }

  .span6 {
    width: 70%;
    margin: 0;

    .page-carousel {
      width: 100%;

      .span6 {
        margin-left: 0;
        width: 100%;

        .brands-carousel {
          border: 0;

          h3 {
            font-size: 18px;

            span {
              background-color: transparent;
              color: #B7BCBD;
            }
          }

          .jcarousel-clip-horizontal {
            height: 200px;
          }

          .jcarousel-prev {
            background: url(/wp-content/themes/realhomes-child_v2/images/left-arrow.png);
            background-size: 100%;
            opacity: .6;
            width: 50px;
            height: 67px;
            left: -2em;
            top: 30%;

            &:hover {
              opacity: .9;
            }
          }

          .jcarousel-next {
            background: url(/wp-content/themes/realhomes-child_v2/images/right-arrow.png);
            background-size: 100%;
            opacity: .6;
            width: 50px;
            height: 67px;
            right: -2em;
            top: 30%;

            &:hover {
              opacity: .9;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #footer-wrapper #footer .row .span3 {
    width: 25%;
    float: left;
    margin-bottom: 4em;
    section {
      min-height: inherit;
      .textwidget {
        bottom: inherit;
        top: -4.5em;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  #footer-wrapper #footer .row .span3:last-child {
    float: right;
    section {
      min-height: inherit;
      .textwidget {
        bottom: inherit;
        top: -4.5em;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  #footer-wrapper #footer .row .span6 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #footer-wrapper #footer .row .span6 .page-carousel .span6 {
    width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 1199px) {
  #footer-wrapper #footer-bottom .span6 {
    width: 45%;
    &:first-child {
      float: left;
      margin-left: 0;
      p {
        text-align: left;
      }
    }
    &:last-child {
      float: right;
      p {
        text-align: right;
      }
    }
  }
}